{% extends "main.html" %}

{% block title %}Your dashboard{% endblock %}

{% block content %}
	<h1>Welcome</h1>
	
	<section id="taglist">
		<h1>Your tags</h1>
		{% for tag in tagCloud %}
			<a href="/files/tags/{{ tag }}/">{{ tag }}</a>
		{% endfor %}
	</section>
	
	<section id="newupload">
		<h2>Upload a new File</h2>
		<form action="/files/create/" method="POST" enctype="multipart/form-data">
			{% csrf_token %}
		
			{{ createFileForm.as_p }}
		
			<input type="submit" value="Store file" />
		</form>
	</section>
{% endblock %}
